@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
body {
  background-size: cover;
  background-color: #000000;
}

/* Page Styling */
body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;

}

a,
h1,
p {
  color: white;
  text-decoration: none;
}

.content {
  position: center;
  top: 20px;
  left: 10px;
  right: 0;
  bottom: 50px;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.repobtn {
  display: inline-block;
  margin: 20px 5px auto;
  margin-left: 5px;
  padding: 0 50px 0 50px;
  max-width: 150px;
  border-radius: 5px;
  border: 2px solid #FFF;
  line-height: 50px;
}

.repobtn:hover {
  background: white;
  color: black;
}
